@import url("../../styles/colors.css");

.titleMain {
  font-size: 2rem;
  position: relative;
  width: 9rem;
}

.titleDot {
  font-size: 5rem;
  display: flex;
  position: absolute;
  top: 1.25rem;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: var(--color-primary);
}
