.footerMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footerWrapper {
  padding: 5rem 5rem 2rem 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerContainer1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerDesc {
  width: 500px;
  text-align: justify;
  text-align-last: left;
}

.footerContainer2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.footerMap {
  height: 150px;
  width: 400px;
  border-radius: 1rem;
  border: none;
}

.footerLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footerLinks a {
  transition: 0.3s ease all;
}

.footerLinks a:hover {
  color: var(--color-primary);
}

.footerLine {
  width: 95%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.footerAboutMe {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .footerWrapper {
    flex-direction: column;
    gap: 3.5rem;
    padding: 5rem 0 2rem 0;
  }

  .footerContainer1 {
    align-items: center;
  }

  .footerDesc {
    text-align-last: center;
    width: 85%;
  }

  .footerMap {
    width: 85vw;
  }

  .footerAboutMe {
    flex-direction: column;
    gap: 1rem;
  }
}
/* End Responsive */
