.notFoundMain {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 10rem 3rem 3rem;
}

.errorTitle {
  font-size: 3rem;
  text-align: center;
}

.errorDesc {
  font-size: 1.25rem;
  text-align: center;
}

.notFoundLink {
  padding: 1rem 2rem;
  transition: 0.3s ease all;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.notFoundLink:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .errorTitle {
    font-size: 1.75rem;
  }
}
/* End Responsive */
